extends layout

block content
  h4.text-center.text-uppercase=title
  .row
    .col-sm-6.col-sm-offset-3
      form(action='/api/employee/create',method='POST')
          .row
            .col-sm-12
              input.form-control(type='text', name='name', placeholder='Employee Full Name')
          .row     
            .col-sm-12
              input.form-control(type='text', name='reportingManager', placeholder='Reporting Manager')
          .row
            .col-sm-6
              input.form-control(type='text', name='empId', placeholder='Employee ID')            
          .row
            .col-sm-6
              label Select Designation
              select(name='designation', placeholder='Select Designation', type='select')
                each design in ['Jr. Associate', 'Associate', 'Sr. Associate', 'Team Lead', 'Manager']
                  option=design
            .col-sm-6
              label Select Account
              select#account(name='accountName', type='select')
                for account in accounts
                  option(value=account._id) #{account.accountName}
          .row
            .col-sm-4
              button(type='submit') ADD
  if errors 
    ul.errors
      for error in errors
        li!= error.msg